# Central ttbar standard model powheg samples

root://cmsxrootd.crc.nd.edu/
# file:///cms/cephfs/data/ # direct file access (Tier3 nodes)

#../input_samples/sample_jsons/nanogen_TT01j2l_noEFT_training.json
../input_samples/sample_jsons/nanogen_TT01j2l_noEFT_validation.json
