# Central ttbar standard model powheg samples

# root://skynet013.crc.nd.edu:1094/ # local data redirector (Tier3 nodes)
# root://skynet013.crc.nd.edu:1096/ # XCache redirector (condorfe)
file:///cms/cephfs/data/ # direct file access (Tier3 nodes)
../input_samples/sample_jsons/TTTo2L2Nu_powheg.json
